.propertyDetailsPage{

margin-top: 80px;
}
.propertyDetailsPage{
    color: #7D7D7D;

}
.col_black{
    color: black;
}
.propertyImagesDisplay{
    max-width: 80%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.image-gallery-content.image-gallery-thumbnails-left .image-gallery-slide .image-gallery-image, .image-gallery-content.image-gallery-thumbnails-right .image-gallery-slide .image-gallery-image{
    max-height: 75vh;
}
.PropertyDetailDescription,.amenitiesWrapper{
    padding: 20px 12%;
    text-align: left;
}
.propertyBasicInfo{
    text-align: left;
    padding: 20px;
}
.propertyDetails{
    display: flex;
    justify-content: space-evenly;
}
.propertyDetailsInner{
display: flex;
justify-content: space-between;
}
.propertyDetailsInner .answertag{
    color: black;
}
.askingPrice{
    font-size: 16px;
    font-weight: 500;
}
.propertydetailsIcons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;

}
.propertydetailsIcons p{
    margin: 0px 20px 0px 0px;
    font-family: Lexend;
font-size: 14.4px;
font-weight: 700;
line-height: 20.8px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.propertydetailsIconscol p{
   margin: 20px 0px;
}
.agentDetails {
    margin-top: 40px 0px;
    padding: 20px 0px;
}
.agentDetails .namecard{
    padding: 20px 0px;
    display: flex;
    justify-content:left;
}
.agentDetails .namecard p{
    margin: 0px 0px 0px 20px;
}
.agentDetails .namecard img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contactAgentBtn{
    padding: 10px;
    border-radius: 30px;
}
.bg_0B132A{
    background: #0B132A;

}
.amenityIcons {
    border-radius:8px;
    height: 45px;
    width: 45px;
}
.featuredPropertiesHeading{
    background: none;
    border: 1px solid white;
    border-radius: 30px;
    background: #1F4B43;
    color: white;
}

@media (max-width:600px) {

    .image-gallery-content.image-gallery-thumbnails-left .image-gallery-slide .image-gallery-image, .image-gallery-content.image-gallery-thumbnails-right .image-gallery-slide .image-gallery-image{
        max-height: 100vh;
    }
    .propertyImagesDisplay{
        max-width: 100%;
    }
    .propertyDetailTitle h2{
        font-size:14px;
        font-weight: 500;
    }
    .propertyDetailTitle{
        margin: 20px;
        font-size: 12px;
        text-align: left;
    }
        .propertyDetails{
        margin-left: 20px;
    }
    .PropertyDetailDescription,.amenitiesWrapper{
        padding: 20px 0%;
    }
    .slick-dots{
        height: 20px;
        overflow:hidden;
      }
}