.filterProperty {
  padding: 40px;
}

.rentOrBuybtn {
  border-radius: 0;
  width: 50%;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  border: none;
  height: 48px;
  margin: 10px 0;
}

.bg_1F4B43 {
  background-color: #1F4B43;
}

.bg_E9E9E9 {
  background-color: #E9E9E9;
}

.color_white {
  color: white;
}

.filterOptionsForRealestateType,
.filterOptionsForBedRooms,
.filterOptionsForFurniture {
  text-align: left;
  font-family: Inter;
  font-size: 17.5px;
  font-weight: 500;
  margin-bottom: 15px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  appearance: none;
  border: 2px solid #888;
  border-radius: 4px;
  background-color: white;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked {
  background-color: #1F4B43;
  border-color: #1F4B43;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  position: absolute;
  top: -1px;
  left: 2px;
  color: white;
  font-size: 10px;
}

.filterProperty p {
  margin-bottom: 0 !important;
}

.selectRealestateType {
  font-family: Lexend;
  font-size: 22.5px;
  font-weight: 600;
  text-align: left;
  margin: 20px 0;
}

.LeaseValue {
  font-weight: 500;
}

.toggleFilterBtn {
  background-color: #1f4b43;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
}

.propertyList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cardWrapper {
  margin-bottom: 20px;
}

.col-lg-4 {
  flex: 1 1 calc(33.333% - 20px);
}

.col-lg-3 {
  flex: 1 1 calc(25% - 20px);
}

.col-lg-12 {
  flex: 1 1 100%;
}

/* Button for View All functionality */
.viewAllButton {
  text-align: center;
  margin-top: 20px;
}

.viewAllBtn {
  background-color: #1F4B43;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.viewAllBtn:hover {
  background-color: #155f51;
}
