.PropertySelectBox{
    width: 384px;
    height:40px;
    border-radius: 6px;
    border-color: gray;
    padding: 0px 10px
  }

.PropertyNextButton{
    width: 384px;
    background-color: #1F4B43;
    color: white;
    border-radius: 6px;
}

.PropertyFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.Propertyh2
{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #0F172A;
}

@media (max-width: 384px) {
.PropertyNextButton{
    width: 100px;
    font-size: xx-small;
    padding: 10px;
}
}