.propertyTagsWrapper{
    display: flex;
    justify-content: space-between;
}
.adminpropertyApprovals{
    display: flex;
    justify-content: space-between;
}
.propertyAccept{
    color: white;
    padding: 5px;
    background: #1F4B43;
    border-radius: 50%;
    height:40px;
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
}
.propertyReject{
    color: white;
    padding: 5px;
    background: #EB664E;
    border-radius: 50%;
    height:40px;
    width: 40px;
    cursor: pointer;
}