.propertylistingcard{
    border: 1px solid black;
    margin-bottom: 20px;
    height: 450px;
    background-image: url(../../Assets/p1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: fit-content;

}
.propertyInfo{
    position: relative;
    bottom: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px;
    font-family: Roboto;
}
.propertyLocation img{
    height:16px;
    width: 16.64px;
    margin-top: 4px ;

}
.propertyLocation{
    display: flex;
    justify-content: left;
    font-size: 15.36px;
    font-weight: 400;
    line-height: 29.18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.propertyTitle{
    text-align: left;
    font-size: 18.24px;
    font-weight: 500;
    line-height: 21.89px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.propertyPrice{
    text-align: left;
    color: #EB664E;
    font-size: 20.16px;
    font-weight: 600;
    line-height: 30.24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}
.amenities{
    display:flex;
    justify-content: space-between;
}
.amenity{
    padding-right:5px;
    /* border-right: 1px solid #cccccc; */
}
.amenity img{
   height: 20px;
   width: 20px;
   margin-right: 5px;

}
.amenity span{
    padding-bottom: 4px;
}
.priceAmenity{
    display: flex;
    justify-content: space-between;
}
.NN_btn1{
    background: #E7C873;
    border-radius: 30px;
    padding: 15px;
    /* width: 200px; */
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.propertyCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.propertyTags{
    display: flex;


}
.propertyTag{
    padding: 10px;
    border-radius: 30px ;
    color: white;
    margin-right: 10px;
    width: 120px;
    text-transform:uppercase;
    font-weight: bold;
    font-size: 12px;
}
.rent{
    background:#1F4B43;
}
.featured{
    background: #E7C873;
    color: black;

}
.cardWrapper{
    margin-top: 50px;
    /* padding: 20px; */


}