.renderDynamicComponents{
    border-radius: 6px;
    border: 1px solid #CBD5E1;
}

.renderDynamicComponents::placeholder {
    color: #322f2fe3;
    font-size: x-small;
  }
.postcontent::placeholder {
    color: #0d0d0de3;
    font-size: x-small;
  }