/* General Styling for the Wrapper and Sidebar */
.AdminDashboardWrapper {
    display: flex;
  }

  .AdminDashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .adminSidebar {
    display: flex;
    flex-direction: column;
    background-color: #1f4b43;
    height: 100vh;
    position: relative;
    transition: width 0.3s ease;
    width: 70px;
  }


  .adminSidebar.open {
    width: 250px;

  }

  .adminmenuSidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: opacity 0.3s ease;
  }


  .menuItem {
    margin: 25px 10px;
    padding: 10px;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
  }

  .menuItem span {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .adminSidebar.open .menuItem span {
    opacity: 1;
  }

  .minMaxBtn button {
    background: none;
    padding: 10px;
    box-shadow: none;
    outline: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    transition: right 0.3s ease;
  }
  .createprojectbtn {
    border: 1px solid white;
    border-radius: 30px;
  }

  .menuItem:hover {
    background-color:white;
    color: #1f4b43;
  }

  .adminSidebar.open .menuItem span {
    opacity: 1;
  }
  .menuItem.minMaxBtn {
    cursor: pointer;
    color:white;
    transition: color 0.3s ease;
  }

  .menuItem.minMaxBtn:hover {
    color: #f39c12;
  }

  .menuItem.minMaxBtn svg {
    transition: fill 0.3s ease;
  }

  .menuItem.minMaxBtn:hover svg {
    fill: #1f4b43;
  }
  .activeMenuItem{
    background: white;
    color: #1f4b43;
  }