.AdminDashboardWrapper {
    display: flex;
  }

  .AdminDashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .adminSidebar {
    display: flex;
    flex-direction: column;
    background-color: #1f4b43;
    height: 100vh;
    position: relative;
    transition: width 0.3s ease;
    width: 70px;
    position: fixed;
    top: 0;
    left: 0;
  }


  .adminSidebar.open {
    width: 250px;

  }

  .adminmenuSidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: opacity 0.3s ease;
  }


  .menuItem {
    margin: 25px 10px;
    padding: 10px;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
  }

  .menuItem span {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .adminSidebar.open .menuItem span {
    opacity: 1;
  }

  .minMaxBtn button {
    background: none;
    padding: 10px;
    box-shadow: none;
    outline: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    transition: right 0.3s ease;
  }
  .createprojectbtn {
    border: 1px solid white;
    border-radius: 30px;
  }

  .menuItem:hover {
    background-color:white;
    color: #1f4b43;
  }

  .adminSidebar.open .menuItem span {
    opacity: 1;
  }
  .menuItem.minMaxBtn {
    cursor: pointer;
    color:white;
    transition: color 0.3s ease;
  }

  .menuItem.minMaxBtn:hover {
    color: #f39c12;
  }

  .menuItem.minMaxBtn svg {
    transition: fill 0.3s ease;
  }

  .menuItem.minMaxBtn:hover svg {
    fill: #1f4b43;
  }
  .activeMenuItem{
    background: white;
    color: #1f4b43;
  }
  .adminDashboardHeader{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00000014;

  }
  .adminHeading{
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  }
  .adminDashboardContent{
    padding: 20px;
  }
  .analyticsCardWrapper{
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
  }
  .analyticsCard{
    background: #F3F3F3;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    font-family: Roboto;
  }
  .analyticsValue{
font-size: 28px;
font-weight: 500;
line-height: 32.81px;
letter-spacing: 0.01em;

  }
  .analyticsRegarding{
    margin-top: 30px;
font-size: 14px;
font-weight: 400;
line-height: 16.41px;
color: #797979;
text-wrap: nowrap;
}
.analyticsDiscription{
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0.02em;
}
.recentListingSection{
  margin-top: 20px;
  text-align: left;
  padding: 10px;
}
.headingAndFilter{
  display: flex;
  justify-content: space-between;

}
.adminDashboardContent{
  padding: 10px;
}
.headingAndFilter select{
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 10px 20px;
}
.contentHead{
  padding: 10px;
  font-family: Roboto;
font-size: 22px;
font-weight: 400;
line-height: 25.78px;
text-align: left;


}
.adminPropertiesViewWrapper{
  padding: 20px;
}
.adminPropertiesView{
  background: #F9F9FA;
  padding: 20px;
  border-radius: 20px;
}
.adminPropertySearch{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  line-height:25px;
  padding: 10px 20px;
  margin-bottom: 30px;
}
.adminPropertySearch::placeholder{
  color: #797979;
}
.datatableWrapper{
  border-radius: 20px;
  padding: 20px;
  overflow-x: auto;
  text-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}
.alertBtn{
  background-color: #f8deb2;
  padding: 4px 8px;
  border: none;
  color: rgb(249, 169, 0);
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;

}
.alertBtn:hover {
 border:1px solid orange;
 color: orange;
}
.passResetBtn{
  background-color:#F9F9FA;
  padding: 4px 8px;
  border: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;

}
.passResetBtn:hover {
  border:1px solid black;
 }
.userBlockBtn{
    background-color: #FFF3D9; /* Light cream/beige background */
    color: #FF6B6B; /* Coral red text color */
    padding: 4px 8px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
}
.userBlockBtn:hover{
  border: 1px solid #FF6B6B;
  color: #FF6B6B;
}
.center-align{
  text-align: center;
}
@media(max-width:600px)  {
  .propforSaleAnalytics,.propforRentAnalytics{

    margin-top: 20px;
  }
}